<div class="component">
<div class="col-12"> 
  
  <div class="col-12 text-center ">
      <!-- <div class="row">
        <form [formGroup]="hostForm" (ngSubmit)="onCreate()">
          <div class="">
              <h2 style="float:left">New Environment</h2>
          </div>
          <div class="">
              <div class="">
              <div class="">
                  <div class="form-group">
                      <label for="username">Environment</label>
                  <input type="text" formControlName="environmentName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.environmentName.errors }" />
                  <div *ngIf="submitted && f.environmentName.errors" class="invalid-feedback">
                      <div *ngIf="f.environmentName.errors.required">Environment is required</div>
                  </div>
                  </div>
            </div>
            <div class="col-4">
                <button [disabled]="loading" class="btn btn-primary">Create</button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>
            </div>
            </div>
            </form>           
        </div> -->

    <div class="row">
    <div class="col-lg-7">
        <h2 style="float:left">Host Details</h2>
    </div>
    <div class="col-lg-5">
        <button  class="btn btn-success btn-sm" style="float:right" (click)="addEnvironment()" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus-circle"> New Environment</i></button>
    </div>
  </div>
  <div class="container">
      
      <div class="clearfix"></div>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default" *ngFor="let env of evironmentList;index as i">
          <div class="panel-heading" role="tab" id=heading{{i+1}}>
            <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href=#collapse{{i+1}} aria-expanded="true" attr.aria-controls="collapse{{i+1}}">
              {{env.environment}}
              <input type="hidden" [(ngModel)]="env.id">
            </a>
          </h4>
          </div>
          <div id=collapse{{i+1}} class="panel-collapse collapse in" role="tabpanel" attr.aria-labelledby="heading{{i+1}}">
            <div class="panel-body">
                <table class="table  table-hover" id="hostDetailsTable{{env.environment}}" >
                    <thead>
                      <tr>
                        <th><input type="checkbox"></th>
                        <th>Node</th>
                        <th>Host Name</th>
                        <th>Password</th>
                        <th>Host Directory</th>
                        <th>Local Directory</th>
                       <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let edit of  env.hostDetailBeans;index as in" id="tr{{edit.id}}">
                        <td><input type="checkbox" (change)=rowCheck(edit.id)></td>
                        <td><input type="text" [(ngModel)]="edit.node" name="node" #nodes="ngModel" class="form-control" required></td>                                                                                            
                        <td><input type="text" [(ngModel)]="edit.hostName" name="hostName" #hostNames="ngModel" class="form-control" required></td>
                       <td><input type="text" [(ngModel)]="edit.password"   name="password" #passwords="ngModel" class="form-control" required></td>
                       <td><input type="text" [(ngModel)]="edit.hostDirectory" name="hostDirectory" #hostDirectorys="ngModel" class="form-control" required></td>
                       <td><input type="text" [(ngModel)]="edit.localDirectory" name="localDirectory" #localDirectorys="ngModel" class="form-control" required></td>  
                       <td>
                           <!-- <span>
                               <a class="editBtn fa fa-edit fa-lg" (click)="editConn(edit.id)" data-toggle="modal" data-target="#myModal"></a>
                             </span> -->
                             
                             <span>
                                <a class="deleteBtn fa fa-save fa-lg saveBtn" hidden  (click)="createNode(edit.id,edit,env.id)" ></a>
                              </span> 
                              <span>
                                  <a class="deleteBtn fa fa-trash fa-lg"  (click)="deleteNode(i,edit,in,edit.id,env.environment)" ></a>
                                </span>
                       </td>
                     </tr>
                    </tbody>
                  </table>
                  <div class="text-center">
                      <input type="button" class="btn btn-success btn-sm" (click)="addNewHost(env.environment,i)" value="New Node">&nbsp;&nbsp;
                      <!-- <input type="button" class="btn btn-success btn-sm" value="Save" (click)="createNode(env)"> -->
                  </div>
            </div>
          </div>
        </div>    
       
      </div>
    </div>

  
    <!-- <table class="table  table-hover " id="">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Environment</th>
          <th>Host Name</th>
          <th>Password</th>
          <th>Host Directory</th>
          <th>Local Directory</th>
          <th>Action</th>
        </tr>
      </thead>
        <tbody>
          <tr *ngFor="let host of List;index as i"> 
            <td>{{i+1}}</td>
            <td>{{host.envirnoment}}</td>
            <td>{{host.hostName}}</td>
            <td>{{host.password}}</td>
            <td>{{host.hostDirectory}}</td>
            <td>{{host.localDirectory}}</td>
            <td>
              <span>
                <a class="editBtn fa fa-edit fa-lg" (click)="editHost(host.id)" data-toggle="modal" data-target="#myModal"></a>
              </span>
              <span>
                <a class="deleteBtn fa fa-trash fa-lg" (click)="deleteHost(host.id)" ></a>
              </span>  
              </td>            
          </tr>
        </tbody>
     
      </table> -->
  
    
  </div>
  </div>
  <div class="modal" id="myModal" >
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form (submit)="createEnvironment(envirnoment)">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Environment Detail</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body">
              <div class="">                 
                  <div class="form-group">
                      <label class="col-form-label">Environment</label>
                      <div class="">
                          <input type="text" [(ngModel)]="envirnoment" name="envirnoment" minlength="4" #envirnoments="ngModel"  class="form-control" required>                      
                      </div>                                        
                </div>
                   <!-- <div>
                     <table class="table  table-hover" id="hostDetailsTable" >
                       <thead>
                         <tr>
                           <th>S.No</th>
                           <th>Node</th>
                           <th>Host Name</th>
                           <th>Password</th>
                           <th>Host Directory</th>
                           <th>Local Directory</th>
                          <th>Action</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr *ngFor="let edit of hostList;index as i">
                           <td>{{i+1}}</td>
                           <td><input type="text" [(ngModel)]="edit.node" name="node" #nodes="ngModel" class="form-control" required></td>                                                                                            
                           <td><input type="text" [(ngModel)]="edit.hostName" name="hostName" #hostNames="ngModel" class="form-control" required></td>
                          <td><input type="text" [(ngModel)]="edit.password"   name="password" #passwords="ngModel" class="form-control" required></td>
                          <td><input type="text" [(ngModel)]="edit.hostDirectory" name="hostDirectory" #hostDirectorys="ngModel" class="form-control" required></td>
                          <td><input type="text" [(ngModel)]="edit.localDirectory" name="localDirectory" #localDirectorys="ngModel" class="form-control" required></td>  
                          <td>
                             
                                <span>
                                  <a class="deleteBtn fa fa-trash fa-lg" (click)="deleteConn(edit.id)" ></a>
                                </span> 
                          </td>
                        </tr>
                       </tbody>
                     </table>
                   </div> -->
                   <!-- <div class="form-group row col-lg-6 col-sm-12 col-md-6">
                      <div style="float:right;padding:5px">
                          <input type="button" class="btn btn-success btn-sm" (click)="addNewHost()" value="New Node">
                      </div>
                     </div> -->
                    <!-- <div class="form-group">
                      <label>Host Name</label>
                      <input type="text" [(ngModel)]="edit.hostName" name="hostName" #hostNames="ngModel" class="form-control" required>
                    </div>
                  
                    <div class="form-group">
                      <label>Password</label>
                      <input type="text" [(ngModel)]="edit.password"   name="password" #passwords="ngModel" class="form-control" required>
                      <input type="hidden" [(ngModel)]="edit.id"  name="id1" >
                    </div>                      
                
                      <div class="form-group">
                        <label>Host Directory</label>
                        <input type="text" [(ngModel)]="edit.hostDirectory" name="hostDirectory" #hostDirectorys="ngModel" class="form-control" required>
                      </div>
                      <div class="form-group">
                        <label>Local Directory</label>
                        <input type="text" [(ngModel)]="edit.localDirectory" name="localDirectory" #localDirectorys="ngModel" class="form-control" required>
                      </div> -->
                </div>
          </div>
          
          <!-- Modal footer -->
          <div class="modal-footer">
              <input type="submit" value={{btnName}} class="btn btn-sm btn-success">&nbsp;&nbsp;
            <button type="button" class="btn btn-sm btn-danger" id="modalClose" data-dismiss="modal">Close</button>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div> 
  