<div class="component">
    <div class="col-12">
       <div class="col-12 text-center ">
          <div class="">
             <div class="col-lg-7">
                <h2 style="float:left">App Host Details</h2>
             </div>
             <div class="col-lg-5">
                <button  class="btn btn-primary btn-sm" style="float:right" (click)="addEnvironment()" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus-circle"> <span> New Environment</span></i></button>
             </div>
          </div>
          <div class="col-lg-12 ">
             <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default" *ngFor="let env of evironmentList;index as i">
                   <div class="panel-heading" role="tab" id="headingOne">
                      <h4 class="panel-title text-left">
                         <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{i}}" aria-expanded="true" aria-controls="collapseOne">
                         <i class="more-less glyphicon glyphicon-plus"></i>
                         {{env.environment}}
                         <input type="hidden" [(ngModel)]="env.id">
                         </a>
                      </h4>
                   </div>
                   <div id="collapse{{i}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                      <div class="panel-body">
                         <table class="table  table-hover" id="hostDetailsTable{{env.environment}}" >
                            <thead>
                               <tr>
                                  <th><input type="checkbox"></th>
                                  <th>Node</th>
                                  <th>Host Name</th>
                                  <th>Password</th>
                                  <th>Host Directory</th>
                                  <th>Local Directory</th>
                                  <th>Action</th>
                               </tr>
                            </thead>
                            <tbody>
                               <tr *ngFor="let edit of  env.hostDetailBeans;index as in" id="tr{{edit.id}}">
                                  <td><input type="checkbox" (change)=rowCheck(edit.id)></td>
                                  <td><input type="text" [(ngModel)]="edit.node" name="node" #nodes="ngModel" class="form-control" required></td>
                                  <td><input type="text" [(ngModel)]="edit.hostName" name="hostName" #hostNames="ngModel" class="form-control" required></td>
                                  <td><input type="text" [(ngModel)]="edit.password"   name="password" #passwords="ngModel" class="form-control" required></td>
                                  <td><input type="text" [(ngModel)]="edit.hostDirectory" name="hostDirectory" #hostDirectorys="ngModel" class="form-control" required></td>
                                  <td><input type="text" [(ngModel)]="edit.localDirectory" name="localDirectory" #localDirectorys="ngModel" class="form-control" required></td>
                                  <td>
                                     <!-- <span>
                                        <a class="editBtn fa fa-edit fa-lg" (click)="editConn(edit.id)" data-toggle="modal" data-target="#myModal"></a>
                                        </span> -->
                                     <span>
                                     <a class="deleteBtn fa fa-save fa-lg saveBtn" hidden  (click)="createNode(edit.id,edit,env.id)" ></a>
                                     </span> 
                                     <span>
                                     <a class="deleteBtn fa fa-trash fa-lg"  (click)="deleteNode(i,edit,in,edit.id,env.environment)" ></a>
                                     </span>
                                  </td>
                               </tr>
                            </tbody>
                         </table>
                         <div class="text-center">
                            <input type="button" class="btn btn-primary btn-sm" (click)="addNewHost(env.environment,i)" value="New Node">&nbsp;&nbsp;                            
                          </div> 
                      </div>
                   </div>
                </div>
             </div>
             <!-- panel-group -->      
          </div>
       </div>
    </div>
    <div class="modal" id="myModal" >
       <div class="modal-dialog modal-sm">
          <div class="modal-content">
             <form (submit)="createEnvironment(envirnoment)">
                <!-- Modal Header -->
                <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal">&times;</button>
                   <h4 class="modal-title">Environment Detail</h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                   <div class="">
                      <div class="form-group">
                         <label class="col-form-label">Environment</label>
                         <div class="">
                            <input type="text" [(ngModel)]="envirnoment" name="envirnoment" minlength="4" #envirnoments="ngModel"  class="form-control" required>                      
                         </div>
                      </div>
                   </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                   <input type="submit" value={{btnName}} class="btn btn-sm btn-success">&nbsp;&nbsp;
                   <button type="button" class="btn btn-sm btn-danger" id="modalClose" data-dismiss="modal">Close</button>
                </div>
             </form>
          </div>
       </div>
    </div>
 </div>