<div class="component">
  <div>
    
  <label>Environment :</label> Env1

  <table class="table table-responsive table-bordered text-center">
    <thead>
      <tr>
      <th>Server Name</th>
      <th>Time Stamp</th>
      <th>Disk</th>
      <th>Memory</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td>Node 1</td>
        <td>10:30 PM</td>
        <td><span class="badge">7</span></td>
        <!-- <td><i class="fa fa-certificate fa-lg" style="color:red" aria-hidden="true" data-toggle="tooltip" data-original-title="97 %"></i></td> -->
        <td><i class="fa fa-certificate fa-lg" style="color:#08da08" aria-hidden="true" data-toggle="tooltip" data-original-title="91 %"></i></td>
        <td><i class="fa fa-certificate fa-lg" style="color:#ffd01f" aria-hidden="true" data-toggle="tooltip" data-original-title="85 %"></i></td>
      </tr>
      <tr>
          <td>Node 2</td>
          <td>11:00 PM</td>
          <td><i class="fa fa-certificate fa-lg" style="color:#08da08" aria-hidden="true" data-toggle="tooltip" data-original-title="93 %"></i></td>
          <td><i class="fa fa-certificate fa-lg" style="color:#ffd01f" aria-hidden="true" data-toggle="tooltip" data-original-title="70 %"></i></td>
          <td><i class="fa fa-certificate fa-lg" style="color:red" aria-hidden="true" data-toggle="tooltip" data-original-title="98 %"></i></td>
        </tr>
    </tbody>
  </table>

  <a href="#" data-toggle="tooltip" data-original-title="Hooray!">Hover over me</a>
</div>
</div>
