<div class="component">
  <h2>Server Status</h2>
  <div *ngFor="let x of serverStatusArr;index as i">
    
  <label>Environment :</label> {{x.environmentName}}

  <table class="envTable table table-responsive table-bordered text-center">
    <thead>
      <tr>
      <th>Server Name</th>
      <th>Time Stamp</th>
      <th>Disk Usage( % )</th>
      <th>Memory Usage( % )</th>
      <th>App Status</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let y of x.nodes;index as j">
        <td>{{y.nodeName}}</td>
        <td>{{y.timestamp|date:'medium' }}</td>
        <td><span class="badge" [style.background-color]="y.healthStatus[0].color">{{y.healthStatus[0].percentage}}</span></td>
        <td><span class="badge" [style.background-color]="y.healthStatus[1].color">{{y.healthStatus[1].percentage}}</span></td>
        <td><span class="badge" [style.background-color]="y.appStatus==='PROD-SI-RUNNING' ? '#08da08' : 'red'">{{y.appStatus}}</span></td>

        <!-- <td><i class="fa fa-certificate fa-lg" style="color:red" aria-hidden="true" data-toggle="tooltip" data-original-title="97 %"></i></td> -->
        <!-- <td><i class="fa fa-certificate fa-lg" style="color:#08da08" aria-hidden="true" data-toggle="tooltip" data-original-title="91 %"></i></td>
        <td><i class="fa fa-certificate fa-lg" style="color:#ffd01f" aria-hidden="true" data-toggle="tooltip" data-original-title="85 %"></i></td> -->
      </tr>
      
    </tbody>
  </table>
</div>
</div>
