<div class="component">
  <h2>
    User Role
  </h2>
    <table class="table table-responsive table-bordered text-center" id="roleTable">
        <thead>
          <tr>
          <th>Select</th>
          <th>Emp Name</th>
          <th>Emp Code</th>
          <th>Admin</th>
          <th>NGG</th>
          <th>DOM</th>
          <th>EAI</th>
          <th>Transport</th>
          <th>User</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of userRoleArr;index as i" id="row{{i+1}}">
            <td><input type="checkbox" class="enableRole" (click)="roleCheck(i+1)" id={{x.empCode}}></td>
            <td>{{x.empName}}</td>
            <td>{{x.empCode}}</td>
            <td><input type="checkbox" class="roleCheck" disabled [(ngModel)]="x.isAdmin"></td>
            <td><input type="checkbox" class="roleCheck" disabled [(ngModel)]="x.isNggUser"></td>
            <td><input type="checkbox" class="roleCheck" disabled [(ngModel)]="x.isDOMUser"></td>
            <td><input type="checkbox" class="roleCheck" disabled [(ngModel)]="x.isEAIUser"></td>
            <td><input type="checkbox" class="roleCheck" disabled [(ngModel)]="x.isTransportUser"></td>
            <td><input type="checkbox" disabled [(ngModel)]="x.isUser"></td>
          </tr>          
          </tbody>
        </table>
        <div class="text-center btns col-lg-12 col-sm-12 col-md-12" id="submitRole"  >
            <input type="submit" class="btn btn-md btn-success hidden"   value="Update" disabled (click)="updateUserRole()"  />
         </div>
          <!-- <div class="text-center roleAlert  col-lg-offset-4 col-lg-4" ><b></b></div> -->
</div>