<div class="component">
  <h2>
    User Role
  </h2>
    <table class="table table-responsive table-bordered text-center" id="roleTable">
        <thead>
          <tr>
          <th>S.No</th>
          <th>Emp Name</th>
          <th>Emp Code</th>
          <th>Track 1</th>
          <th>Track 2</th>
          <th>Track 3</th>
          <th>Track 4</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Shoban</td>
            <td>6653</td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
          </tr>
          <tr>
              <td>2</td>
              <td>Rahul</td>
              <td>6553</td>
              <td><input type="checkbox"></td>
              <td><input type="checkbox"></td>
              <td><input type="checkbox"></td>
              <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Veeresh</td>
                <td>6214</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
              </tr>
              <tr>
                  <td>4</td>
                  <td>Avinash</td>
                  <td>7631</td>
                  <td><input type="checkbox"></td>
                  <td><input type="checkbox"></td>
                  <td><input type="checkbox"></td>
                  <td><input type="checkbox"></td>
                </tr>
          </tbody>
        </table>
</div>