<div class="col-4">
  <h2>{{title}}</h2>
  <select [(ngModel)]="environment" class="form-control" (change)="selectEnv()">
    <option value="pleaseSelect" disabled>Select Environment</option>   
    <option *ngFor="let env of environmentOptions" value={{env.id}}>{{env.environment}}</option>
  </select>
</div>


<div class="row col-lg-12" *ngIf="hostDetailsDiv"> 
  
    <div class="col-lg-12 text-center ">
      <!-- <form (submit)="saveNewPass()"> -->
      <div class="row">
      <div class="col-lg-7">
          <h2 style="float:left"><label>Environment :</label> {{environment}}</h2>
      </div>     
    </div>
      <table class="table  table-hover " id="envTable">
        <thead>
          <tr>
            <th>S.No</th>
            <th>User Name</th>
            <th>Old Password</th>
            <th>New Password</th>
            <!-- <th>Node 1</th>
            <th>Node 2</th>
            <th>Node 3</th>
            <th>Node 4</th> -->
            <!-- <th>Action</th> -->
          </tr>
        </thead>
          <tbody>
            <tr *ngFor="let env of environmentList.newPasswordBean;index as i"> 
              <td>{{i+1}}</td>
              <td>{{env.userName}}</td>
              <td>{{env.oldPassword}}</td>
              <td><span *ngIf="!updatePass"><input type="text" [(ngModel)]="env.newPassword" name="newPassword" class="form-control"></span><span *ngIf="updatePass">{{env.newPassword}}</span></td>
              <!-- <td><input type="checkbox" [(ngModel)]="env.node1" name="node1"></td>
              <td><input type="checkbox" [(ngModel)]="env.node2" name="node2"></td>
              <td><input type="checkbox" [(ngModel)]="env.node3" name="node3"></td>
              <td><input type="checkbox" [(ngModel)]="env.node4" name="node4"></td> -->
              <!-- <td>
                <span>
                  <a class="editBtn fa fa-edit fa-lg" (click)="editHost(host.id)" data-toggle="modal" data-target="#myModal"></a>
                </span>
                <span>
                  <a class="deleteBtn fa fa-trash fa-lg" (click)="deleteHost(host.id)" ></a>
                </span>   
                </td>            -->
            </tr>
          </tbody>       
        </table>
        <div class="nodes" *ngIf="updatePass">
          
           <span>
            <label>Select all node</label>&nbsp;
            <input type="checkbox" [(ngModel)]="selectAll" (change)="selectAllNode(selectAll)">
          </span>&nbsp; 
          <!-- <span *ngFor="let env of environmentList.nodes| keyvalue">
              <label>{{env.key}}</label>&nbsp;
              <input type="checkbox" class="nodeCheckBtn" [(ngModel)]="env.value">&nbsp;
            </span> -->
            <span>
            <label>Node 1</label>&nbsp;
            <input type="checkbox" class="nodeCheckBtn" [(ngModel)]="environmentList.node1">&nbsp;
          </span>
          <span>
              <label>Node 2</label>&nbsp;
              <input type="checkbox" class="nodeCheckBtn" [(ngModel)]="environmentList.node2">&nbsp;
            </span>
            <span>
                <label>Node 3</label>&nbsp;
                <input type="checkbox" class="nodeCheckBtn" [(ngModel)]="environmentList.node3">&nbsp;
              </span>
              <span>
                  <label>Node 4</label>&nbsp;
                  <input type="checkbox" class="nodeCheckBtn" [(ngModel)]="environmentList.node4">&nbsp;
                </span>
        </div>
    <div class="text-center">
        <input type="submit" value="{{submitBtn}}" class="btn btn-sm btn-success" (click)="saveNewPass()">&nbsp;&nbsp;
        
    </div>  
  <!-- </form>    -->
</div>
    </div>
