/* .pageTemp{
    background-image: url(https://www.onlinedelivery.in/images/comingsoon.png); 
    background-repeat: no-repeat;
   background-size: cover;
    background-attachment: fixed;
    
    height: 100%;
    width: 100%; 
} */