/* @import "src/dist/css/AdminLTE.css"; */

/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.component{
  padding: 15px;
}
.form-group label{
    font-weight:500;
}

.deleteBtn,.editBtn,.statusBtn,.resetBtn{
    text-decoration: none;
    color:rgb(95, 95, 95)  !important;
    padding: 7px;
    }
table a:hover {
    background-color:rgb(95, 95, 95)  !important;
    color:white !important;
    border-radius: 5px;
    box-shadow: 4px 4px #999;
    }
    
    table a:active {
    background-color: #3e8e41;
    box-shadow: 2px 2px #666;
    transform: translateY(2px);
    }
    .modal{
        z-index: 1117 !important;
      }
      .btn-default {
        background-color: #00000038 !important;
      }

      .modal-backdrop {
          z-index:0 !important;
      }
      body,button span{
        font-family: "Segoe UI" !important; 
        /* font-weight: lighter;  */
    }
    .alert {
      padding: 5px !important;
    }