/* @import "src/dist/css/AdminLTE.css"; */

/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.component{
  padding: 15px;
}
.form-group label{
    font-weight:500;
}

.deleteBtn,.editBtn,.statusBtn,.resetBtn{
    text-decoration: none;
    color:rgb(95, 95, 95)  !important;
    padding: 7px;
    }
table a:hover {
    background-color:rgb(95, 95, 95)  !important;
    color:white !important;
    border-radius: 5px;
    box-shadow: 4px 4px #999;
    }
    
    table a:active {
    background-color: #3e8e41;
    box-shadow: 2px 2px #666;
    transform: translateY(2px);
    }
    .modal{
        z-index: 1117 !important;
      }
      .btn-default {
        background-color: #00000038 !important;
      }

      .modal-backdrop {
          z-index:0 !important;
      }
      body,button span{
        font-family: "Segoe UI" !important; 
        /* font-weight: lighter;  */
    }
    .alert {
      padding: 5px !important;
    }

    table th{
      background-color: #3c8dbc;
      color:white;
    }




    /* .hidden {
      visibility: hidden;
    }
    .loader-overlay {
      position: absolute;
      width: 100%;
      z-index: 500000;
      top: 0;
    }
    .loader {
      height: 4px;
      width: 100%;
      position: relative;
      overflow: hidden;
      background-color: #FFF;
    }
    .loader:before {
      display: block;
      position: absolute;
      content: "";
      left: -200px;
      width: 200px;
      height: 4px;
      background-color: red;
      animation: loading 2s linear infinite;
    }
    @keyframes loading {
      from {left: -200px; width: 30%;}
      50% {width: 30%;}
      70% {width: 70%;}
      80% {left: 50%;}
      95% {left: 120%;}
      to {left: 100%;}
    } */